In [1]:
#Executar caso não tenha instalado o módulo pybdedata
!pip install pybdedata

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pybdedata in c:\users\lorenna.santos\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.0.5)
Requirement already satisfied: requests in c:\users\lorenna.santos\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pybdedata) (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\lorenna.santos\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->pybdedata) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lorenna.santos\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->pybdedata) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lorenna.santos\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->pybdedata) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lorenna.santos\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->pybdedata) (2025.8.3)

In [2]:
import requests as req
from requests.models import PreparedRequest
import pandas as pd
import json
import pybdedata.query as bde
import ipywidgets as widgets

In [3]:
fonteDatas = {
    'IBGE':'https://apisidra.ibge.gov.br/values',
    'TSE':'https://sig.tse.jus.br/ords/dwtse/f?p=2001:101',
    'INEP':{
        'Superior':'https://download.inep.gov.br/microdados/microdados_censo_da_educacao_superior_',
        'Básica':'https://download.inep.gov.br/dados_abertos/sinopses_estatisticas/sinopses_estatisticas_censo_escolar_'
    },
}

In [84]:
def formatUnitMilhar(valor):
        try: 
            teste = float(valor)
            numero = str(valor).split('.')
            if len(numero) > 1:
                decimal = ','+numero[1]
            else:
                decimal = ''    
            valor = numero[0]
            if len(valor) <= 3:
                valor = valor
            elif (len(valor) > 3) and len(valor) < 7:
                valor = valor[:-3]+'.'+valor[-3:]
            elif (len(valor) > 6) and  len(valor) < 10:
                valor = valor[:-6]+'.'+valor[-6:-3]+'.'+valor[-3:]
            elif (len(valor) > 9) and  len(valor) < 13:
                valor = valor[:-9]+'.'+valor[-9:-6]+'.'+valor[-6:-3]+'.'+valor[-3:]
            elif (len(valor) > 12) and len(valor) < 17:
                valor = valor[:-12]+'.'+valor[-12:-9]+'.'+valor[-9:-6]+'.'+valor[-6:-3]+'.'+valor[-3:]
            valor = valor+decimal
        except:
            valor = valor
        return valor 
    
def getSource(pesquisa):
     
    #Dados utilizado no BDE-GO
    fontes = {
              'PEVS':{
                  '289':{'colunas':['D1C','D2C','D3C','D4N','V'],'parametros':{'v':'144,145','c193':'all'}}, #Produção da Extração Vegetal e da Silvicultura
                  '291':{'colunas':['D1C','D2C','D3C','D4N','V'],'parametros':{'v':'142,143','c194':'all'}}#Produção da Extração Vegetal e da Silvicultura
               },
                  
              'PPM':{
                '74':{'colunas':['D1C','D2C','D3C','D4C','V'],'parametros':{'v':'106','c80':'all'}},
                '94':{'colunas':['D1C','D2C','D3C','V'],'parametros':{'v':'107'}},
                '3939':{'colunas':['D1C','D2C','D3C','D4C','V'],'parametros':{'v':'105','c79':'all'}} 
              },
              'PAM':{
                  '839':{'colunas':['D1C','D2C','D3C','D4N','V'],'parametros':{'v':'214,216','c81':'allxt'}}, 
                  '1002':{'colunas':['D1C','D2C','D3C','D4N','V'],'parametros':{'v':'214,216','c81':'allxt'}},
                  '5457':{'colunas':['D1C','D2C','D3C','D4N','V'],'parametros':{'v':'214,216','c782':'allxt'}}
              }
              #'1378':{'colunas':['D2C','D4C','D3N','V'],'parametros':{'v':'93','c1':'all','c2':'all','c287':'all','c455':'all'}}, #Censo Demográfico
              #'2759':{'colunas':['D1C','D7N','V'],'parametros':{'v':'221','c236':'0','c247':'0','c248':'0','c245':'0','c246':'0'}}, #Pesquisa Estatísticas do Registro Civil
              #'5938':{'colunas':['D1C','D2N','V'],'parametros':{'v':'37,498,513,517,6575,525'}}, #Produto Interno Bruto dos Municípios
              #'6579':{'colunas':['D1C','D2N','V'],'parametros':{'v':'9324'}} #Estimativas de População
    }
    
    tbComplete = pd.DataFrame()
    pesq = fontes[pesquisa]
    
    for cod in pesq.keys():
                
        dados = pesq[cod]['parametros']#fontes[cod]['parametros']
        colunas = pesq[cod]['colunas']#fontes[cod]['colunas']
        
        #Configurando os parametros para acessar a API do IBGE
        param = {'t':cod}
        for value in dados.keys():
            param[value] = dados[value]
        param['n3'] = '52'
        param['n6'] = 'in n3 52'    
        print(param)   
        #Preparando a url para extrair os dados    
        url = PreparedRequest()
        url.prepare_url('https://apisidra.ibge.gov.br/values',param) 
        url = str(url.url).replace('&','/').replace('=','/').replace('?','/').replace('+',' ')
            
        try:
            #Extraindo os dados
            data = req.get(url)
            dados = json.loads(str(data.text))
            dfdata = pd.DataFrame(data=dados)
                        
            #Transformação dos dados
            dfdata = dfdata[colunas]
            dfdata.rename(columns = {
                colunas[-3]:'loc_cod_ibge',
                colunas[-2]:'ano'
            },inplace = True)
            dfdata['codFonte'] = dfdata[colunas[:-3]].apply(lambda x: '-'.join(x.values),axis=1)
            dfdata = dfdata.drop(dfdata.index[0])
            dfdata = dfdata[['loc_cod_ibge','codFonte','ano','V']]
        
            #Atualizando a tabela principal
            tbComplete = pd.concat([tbComplete, dfdata])
        except:
            continue
    
        
    #Retornar a tabela estruturda com os dados
    return tbComplete

def transformData(df):
    #Transformação dos dados
    dfdata = dfdata[colunas]
    dfdata.rename(columns = {colunas[-2]:'loc_nome'},inplace = True)
    dfdata['codFonte'] = dfdata[colunas[:-2]].apply(lambda x: '-'.join(x.values),axis=1)
    dfdata = dfdata.drop(dfdata.index[0])
    dfdata = dfdata[['loc_nome','codFonte','Ano','V']]
    return

In [85]:
#'Raspando' os dados do IBGE
pesquisa = 'PEVS'
dados = getSource(pesquisa)
dados

{'t': '289', 'v': '144,145', 'c193': 'all', 'n3': '52', 'n6': 'in n3 52'}
{'t': '291', 'v': '142,143', 'c194': 'all', 'n3': '52', 'n6': 'in n3 52'}

     loc_cod_ibge  codFonte   ano   V
1              52     144-0  2024  ..
2         5200050     144-0  2024  ..
3         5200100     144-0  2024  ..
4         5200134     144-0  2024  ..
5         5200159     144-0  2024  ..
...           ...       ...   ...  ..
6596      5221809  143-3463  2024   -
6597      5221908  143-3463  2024   -
6598      5222005  143-3463  2024   -
6599      5222054  143-3463  2024   -
6600      5222302  143-3463  2024   -

[32952 rows x 4 columns]

In [86]:
len(dados.codFonte.unique())

152

In [87]:
#Acessando a tabela da relação das variáveis do BDE com o IBGE
src = r'Z:/GEDE/BDE - Banco de Dados/tb_bde-cod-ibge.xlsx'
dfvar = pd.read_excel(src)
dfvar = dfvar[dfvar['codFonte'].notnull()]
dfvar['codFonte'] = dfvar['codFonte'].apply(lambda x: str(x))
dfvar

     var_cod    codFonte                                      varNome
0          1  93-0-0-0-0                 População Censitária - Total
1          2  93-1-0-0-0                População Censitária - Urbana
2          3  93-2-0-0-0                 População Censitária - Rural
3          4  93-0-4-0-0             População Censitária - Masculina
4          5  93-0-5-0-0              População Censitária - Feminina
..       ...         ...                                          ...
433      503    142-3457  Silvicultura - Madeira em Tora - Quantidade
434      504    143-3457       Silvicultura - Madeira em Tora - Valor
435      505       143-0                 Silvicultura - Total - Valor
699      829   144-39409        Extração Vegetal - Pequi - Quantidade
700      830   145-39409             Extração Vegetal - Pequi - Valor

[189 rows x 3 columns]

In [88]:
dfvar.codFonte.unique()

array(['93-0-0-0-0', '93-1-0-0-0', '93-2-0-0-0', '93-0-4-0-0',
       '93-0-5-0-0', '93-1-4-0-0', '93-1-5-0-0', '93-2-4-0-0',
       '93-2-5-0-0', '2047-0', '2047-4', '2047-5', '2047-1', '2047-2',
       '9324', '105-2670', '105-32794', '107', '216-40129', '214-40129',
       '216-40092', '214-40092', '216-40099', '214-40099', '216-40100',
       '214-40100', '216-40101', '214-40101', '216-40102', '214-40102',
       '216-40136', '214-40136', '216-40104', '214-40104', '216-40105',
       '214-40105', '216-40137', '214-40137', '216-40139', '214-40139',
       '216-40106', '214-40106', '216-40107', '214-40107', '216-40109',
       '214-40109', '216-40145', '214-40145', '216-40110', '214-40110',
       '216-40112', '214-40112', '216-117991', '214-117991', '216-117992',
       '214-117992', '216-117993', '214-117993', '216-40148', '214-40148',
       '216-40113', '214-40113', '216-40114', '214-40114', '216-40149',
       '214-40149', '216-40151', '214-40151', '216-40152', '214-40152',
       '216-40261', '214-40261', '216-40118', '214-40118', '216-40119',
       '214-40119', '216-40262', '214-40262', '216-40263', '214-40263',
       '216-40264', '214-40264', '216-40120', '214-40120', '216-40122',
       '214-40122', '216-114253', '214-114253', '216-114254',
       '214-114254', '216-40266', '214-40266', '216-40124', '214-40124',
       '216-40125', '214-40125', '216-40271', '214-40271', '216-40126',
       '214-40126', '216-40127', '214-40127', '216-40273', '214-40273',
       '216-40274', '214-40274', '106-2682', '96-0', '96-2', '96-1',
       '6327', '217', '223', '225', '217-5922', '221', '392', '6566',
       '37', '525', '513', '517', '6575', 'Automatizada', '498', '614',
       '105-32796', '105-2677', '-', '105-2675', '105-2681', '105-2680',
       '105-2672', '106-2685', '106-2686', '106-2684', '106-2687',
       '93-93070', '93-93084', '93-93085', '93-107453-111286',
       '93-93087-93088', '93-93089-93090', '93-93091-93092',
       '93-93093-93094', '93-11942', '93-93097-93098',
       '93-93099-93100-6653', '2047-93070', '2047-93084', '2047-93085',
       '2047-93086', '2047-93087-93088', '2047-93089-93090',
       '2047-93091-93092', '2047-93093-93094', '2047-93095-93096',
       '2047-93097-93098', '2047-113623', '2047-6655', '543', '144-3433',
       '145-3433', '144-3434', '145-3434', '144-3435', '145-3435',
       '145-0', '142-3455', '143-3455', '142-3456', '143-3456',
       '142-3457', '143-3457', '143-0', '144-39409', '145-39409'],
      dtype=object)

In [89]:
bdeObj = bde.BDEquery()
locations = pd.DataFrame(data=bdeObj.getLocations)
newrows = pd.DataFrame(data={'loc_cod':[1000],'loc_nome':['ESTADO DE GOIÁS'],'loc_cod_ibge':['52']})
locations = pd.concat([locations,newrows])
locations.reset_index(inplace=True)
locations

     index loc_cod            loc_nome loc_cod_ibge
0        0       8     Abadia de Goiás      5200050
1        1       9           Abadiânia      5200100
2        2      10             Acreúna      5200134
3        3      11           Adelândia      5200159
4        4      12  Água Fria de Goiás      5200175
..     ...     ...                 ...          ...
242    242     243          Vianópolis      5222005
243    243     244      Vicentinópolis      5222054
244    244     245            Vila Boa      5222203
245    245     246       Vila Propício      5222302
246      0    1000     ESTADO DE GOIÁS           52

[247 rows x 4 columns]

In [90]:
dados = dados.merge(locations,on='loc_cod_ibge')
dados

      loc_cod_ibge  codFonte   ano   V  index loc_cod         loc_nome
0               52     144-0  2024  ..      0    1000  ESTADO DE GOIÁS
1          5200050     144-0  2024  ..      0       8  Abadia de Goiás
2          5200100     144-0  2024  ..      1       9        Abadiânia
3          5200134     144-0  2024  ..      2      10          Acreúna
4          5200159     144-0  2024  ..      3      11        Adelândia
...            ...       ...   ...  ..    ...     ...              ...
32947      5221809  143-3463  2024   -    239     240           Urutaí
32948      5221908  143-3463  2024   -    241     242           Varjão
32949      5222005  143-3463  2024   -    242     243       Vianópolis
32950      5222054  143-3463  2024   -    243     244   Vicentinópolis
32951      5222302  143-3463  2024   -    245     246    Vila Propício

[32952 rows x 7 columns]

In [91]:
dados.loc_cod_ibge.unique()

array(['52', '5200050', '5200100', '5200134', '5200159', '5200175',
       '5200209', '5200308', '5200506', '5200555', '5200605', '5200803',
       '5200829', '5200852', '5200902', '5201108', '5201207', '5201306',
       '5201405', '5201454', '5201504', '5201603', '5201702', '5201801',
       '5202155', '5202353', '5202502', '5202601', '5202809', '5203104',
       '5203203', '5203302', '5203401', '5203500', '5203559', '5203575',
       '5203609', '5203807', '5203906', '5203939', '5203962', '5204003',
       '5204102', '5204201', '5204250', '5204300', '5204409', '5204508',
       '5204557', '5204607', '5204656', '5204706', '5204805', '5204854',
       '5204904', '5204953', '5205000', '5205059', '5205109', '5205208',
       '5205307', '5205406', '5205455', '5205471', '5205497', '5205513',
       '5205521', '5205703', '5205802', '5205901', '5206206', '5206305',
       '5206404', '5206503', '5206602', '5206701', '5206800', '5206909',
       '5207105', '5207253', '5207352', '5207402', '5207501', '5207535',
       '5207600', '5207808', '5207907', '5208004', '5208103', '5208152',
       '5208301', '5208400', '5208509', '5208608', '5208707', '5208806',
       '5208905', '5209101', '5209150', '5209200', '5209291', '5209408',
       '5209457', '5209606', '5209705', '5209804', '5209903', '5209937',
       '5209952', '5210000', '5210109', '5210158', '5210208', '5210307',
       '5210406', '5210562', '5210604', '5210802', '5210901', '5211008',
       '5211206', '5211305', '5211404', '5211503', '5211602', '5211701',
       '5211800', '5211909', '5212006', '5212055', '5212105', '5212204',
       '5212253', '5212303', '5212501', '5212600', '5212709', '5212808',
       '5212907', '5212956', '5213004', '5213053', '5213087', '5213103',
       '5213400', '5213509', '5213707', '5213756', '5213772', '5213806',
       '5213855', '5213905', '5214002', '5214051', '5214101', '5214408',
       '5214507', '5214606', '5214705', '5214804', '5214838', '5214861',
       '5214879', '5214903', '5215009', '5215207', '5215256', '5215306',
       '5215405', '5215504', '5215603', '5215652', '5215702', '5215801',
       '5215900', '5216007', '5216304', '5216403', '5216452', '5216809',
       '5216908', '5217104', '5217203', '5217302', '5217401', '5217609',
       '5217708', '5218003', '5218052', '5218102', '5218300', '5218391',
       '5218508', '5218607', '5218706', '5218789', '5218805', '5218904',
       '5219001', '5219100', '5219209', '5219258', '5219308', '5219357',
       '5219407', '5219456', '5219506', '5219605', '5219704', '5219712',
       '5219738', '5219753', '5219803', '5219902', '5220009', '5220058',
       '5220108', '5220157', '5220207', '5220264', '5220280', '5220405',
       '5220454', '5220504', '5220603', '5220686', '5220702', '5221007',
       '5221080', '5221197', '5221304', '5221403', '5221452', '5221502',
       '5221551', '5221577', '5221601', '5221700', '5221809', '5221908',
       '5222005', '5222054', '5222203', '5222302', '5200258', '5215231'],
      dtype=object)

In [92]:
#Transformação dos dados (Unir e Criação de novos atributos)
datamerge = dados.merge(dfvar,on='codFonte')
datamerge['Valor'] = datamerge['V'].apply(lambda x: formatUnitMilhar(x))
#datamerge = datamerge.merge(dfvar,on='codFonte')
datamerge

,loc_cod_ibge,codFonte,ano,V,index,loc_cod,loc_nome,var_cod,varNome,Valor
0,52,144-39409,2024,2897,0,1000,ESTADO DE GOIÁS,829,Extração Vegetal - Pequi - Quantidade,2.897
1,5200050,144-39409,2024,0,0,8,Abadia de Goiás,829,Extração Vegetal - Pequi - Quantidade,0
2,5200100,144-39409,2024,...,1,9,Abadiânia,829,Extração Vegetal - Pequi - Quantidade,...
3,5200134,144-39409,2024,-,2,10,Acreúna,829,Extração Vegetal - Pequi - Quantidade,-
4,5200159,144-39409,2024,...,3,11,Adelândia,829,Extração Vegetal - Pequi - Quantidade,...
...,...,...,...,...,...,...,...,...,...,...
3241,5221809,143-3457,2024,1115,239,240,Urutaí,504,Silvicultura - Madeira em Tora - Valor,1.115
3242,5221908,143-3457,2024,-,241,242,Varjão,504,Silvicultura - Madeira em Tora - Valor,-
3243,5222005,143-3457,2024,1251,242,243,Vianópolis,504,Silvicultura - Madeira em Tora - Valor,1.251
3244,5222054,143-3457,2024,-,243,244,Vicentinópolis,504,Silvicultura - Madeira em Tora - Valor,-
3245,5222302,143-3457,2024,-,245,246,Vila Propício,504,Silvicultura - Madeira em Tora - Valor,-

In [93]:
#Quantidade de variáveis
len(datamerge.var_cod.unique())

16

In [94]:
db = datamerge.copy()
fieldValue = 'd_'+str(db.ano.unique()[0])
db.rename(columns={'Valor':fieldValue},inplace=True)
db = db[['loc_nome','loc_cod','var_cod',fieldValue]]
db['loc_nome'] = db['loc_nome'].apply(lambda x: x.upper())
db

             loc_nome loc_cod  var_cod d_2024
0     ESTADO DE GOIÁS    1000      829  2.897
1     ABADIA DE GOIÁS       8      829      0
2           ABADIÂNIA       9      829    ...
3             ACREÚNA      10      829      -
4           ADELÂNDIA      11      829    ...
...               ...     ...      ...    ...
3241           URUTAÍ     240      504  1.115
3242           VARJÃO     242      504      -
3243       VIANÓPOLIS     243      504  1.251
3244   VICENTINÓPOLIS     244      504      -
3245    VILA PROPÍCIO     246      504      -

[3246 rows x 4 columns]

In [95]:
db.var_cod.unique()

array([829, 492, 494, 496, 498, 830, 493, 495, 497, 499, 501, 503, 505,
       500, 502, 504])

In [96]:
#Verificar valores nulos na base de dados
datamerge.isnull().sum()

loc_cod_ibge    0
codFonte        0
ano             0
V               0
index           0
loc_cod         0
loc_nome        0
var_cod         0
varNome         0
Valor           0
dtype: int64

In [97]:
#Verificar se todos os municipios foram preenchidos pela quantidade de variaveis
report = {}
for j in datamerge.loc_nome.unique():
    data = datamerge[datamerge.loc_nome==j]
    qtd = len(data)
    report[j] = qtd

report = sorted(report.items(), key=lambda x:x[1],reverse=True)
report

[('ESTADO DE GOIÁS', 16),
 ('Abadia de Goiás', 16),
 ('Abadiânia', 16),
 ('Acreúna', 16),
 ('Adelândia', 16),
 ('Água Fria de Goiás', 16),
 ('Água Limpa', 16),
 ('Alexânia', 16),
 ('Alto Paraíso de Goiás', 16),
 ('Anápolis', 16),
 ('Anhanguera', 16),
 ('Anicuns', 16),
 ('Aparecida de Goiânia', 16),
 ('Aparecida do Rio Doce', 16),
 ('Aporé', 16),
 ('Aragoiânia', 16),
 ('Araguapaz', 16),
 ('Avelinópolis', 16),
 ('Barro Alto', 16),
 ('Bela Vista de Goiás', 16),
 ('Bom Jesus de Goiás', 16),
 ('Bonfinópolis', 16),
 ('Bonópolis', 16),
 ('Buriti Alegre', 16),
 ('Cabeceiras', 16),
 ('Cachoeira Alta', 16),
 ('Cachoeira de Goiás', 16),
 ('Cachoeira Dourada', 16),
 ('Caçu', 16),
 ('Caiapônia', 16),
 ('Caldas Novas', 16),
 ('Caldazinha', 16),
 ('Campestre de Goiás', 16),
 ('Campinaçu', 16),
 ('Campinorte', 16),
 ('Campo Alegre de Goiás', 16),
 ('Campo Limpo de Goiás', 16),
 ('Campos Verdes', 16),
 ('Catalão', 16),
 ('Caturaí', 16),
 ('Cezarina', 16),
 ('Chapadão do Céu', 16),
 ('Cidade Ocidental', 16),
 ('Cocalzinho de Goiás', 16),
 ('Corumbá de Goiás', 16),
 ('Corumbaíba', 16),
 ('Cristalina', 16),
 ('Cristianópolis', 16),
 ('Cromínia', 16),
 ('Cumari', 16),
 ('Davinópolis', 16),
 ('Edéia', 16),
 ('Estrela do Norte', 16),
 ('Faina', 16),
 ('Flores de Goiás', 16),
 ('Formosa', 16),
 ('Gameleira de Goiás', 16),
 ('Goianápolis', 16),
 ('Goiandira', 16),
 ('Goianésia', 16),
 ('Goiânia', 16),
 ('Goianira', 16),
 ('Goiás', 16),
 ('Goiatuba', 16),
 ('Guapó', 16),
 ('Heitoraí', 16),
 ('Hidrolândia', 16),
 ('Hidrolina', 16),
 ('Indiara', 16),
 ('Inhumas', 16),
 ('Ipameri', 16),
 ('Itaberaí', 16),
 ('Itajá', 16),
 ('Itapaci', 16),
 ('Itapirapuã', 16),
 ('Itapuranga', 16),
 ('Itarumã', 16),
 ('Itauçu', 16),
 ('Itumbiara', 16),
 ('Jandaia', 16),
 ('Jaraguá', 16),
 ('Jataí', 16),
 ('Jesúpolis', 16),
 ('Joviânia', 16),
 ('Leopoldo de Bulhões', 16),
 ('Luziânia', 16),
 ('Mairipotaba', 16),
 ('Matrinchã', 16),
 ('Mimoso de Goiás', 16),
 ('Mineiros', 16),
 ('Montes Claros de Goiás', 16),
 ('Montividiu', 16),
 ('Morrinhos', 16),
 ('Mossâmedes', 16),
 ('Mozarlândia', 16),
 ('Nerópolis', 16),
 ('Niquelândia', 16),
 ('Nova Aurora', 16),
 ('Nova Crixás', 16),
 ('Orizona', 16),
 ('Ouro Verde de Goiás', 16),
 ('Ouvidor', 16),
 ('Padre Bernardo', 16),
 ('Palmeiras de Goiás', 16),
 ('Palmelo', 16),
 ('Palminópolis', 16),
 ('Paranaiguara', 16),
 ('Paraúna', 16),
 ('Perolândia', 16),
 ('Petrolina de Goiás', 16),
 ('Piracanjuba', 16),
 ('Pirenópolis', 16),
 ('Pires do Rio', 16),
 ('Planaltina', 16),
 ('Pontalina', 16),
 ('Portelândia', 16),
 ('Posse', 16),
 ('Quirinópolis', 16),
 ('Rio Quente', 16),
 ('Rio Verde', 16),
 ('Sanclerlândia', 16),
 ('Santa Cruz de Goiás', 16),
 ('Santa Helena de Goiás', 16),
 ('Santa Rita do Araguaia', 16),
 ('Santa Rita do Novo Destino', 16),
 ('Santa Rosa de Goiás', 16),
 ('Santa Terezinha de Goiás', 16),
 ('Santo Antônio da Barra', 16),
 ('Santo Antônio de Goiás', 16),
 ('Santo Antônio do Descoberto', 16),
 ('São Francisco de Goiás', 16),
 ("São João d'Aliança", 16),
 ('São João da Paraúna', 16),
 ('São Miguel do Passa Quatro', 16),
 ('São Simão', 16),
 ('Senador Canedo', 16),
 ('Serranópolis', 16),
 ('Silvânia', 16),
 ('Teresina de Goiás', 16),
 ('Terezópolis de Goiás', 16),
 ('Três Ranchos', 16),
 ('Trindade', 16),
 ('Uruaçu', 16),
 ('Urutaí', 16),
 ('Varjão', 16),
 ('Vianópolis', 16),
 ('Vicentinópolis', 16),
 ('Vila Propício', 16),
 ('Aloândia', 9),
 ('Alto Horizonte', 9),
 ('Alvorada do Norte', 9),
 ('Amaralina', 9),
 ('Americano do Brasil', 9),
 ('Amorinópolis', 9),
 ('Araçu', 9),
 ('Aragarças', 9),
 ('Arenópolis', 9),
 ('Aruanã', 9),
 ('Aurilândia', 9),
 ('Baliza', 9),
 ('Bom Jardim de Goiás', 9),
 ('Brazabrantes', 9),
 ('Britânia', 9),
 ('Buriti de Goiás', 9),
 ('Buritinópolis', 9),
 ('Campos Belos', 9),
 ('Carmo do Rio Verde', 9),
 ('Castelândia', 9),
 ('Cavalcante', 9),
 ('Ceres', 9),
 ('Colinas do Sul', 9),
 ('Córrego do Ouro', 9),
 ('Crixás', 9),
 ('Damianópolis', 9),
 ('Damolândia', 9),
 ('Diorama', 9),
 ('Doverlândia', 9),
 ('Edealina', 9),
 ('Fazenda Nova', 9),
 ('Firminópolis', 9),
 ('Formoso', 9),
 ('Divinópolis de Goiás', 9),
 ('Gouvelândia', 9),
 ('Guaraíta', 9),
 ('Guarani de Goiás', 9),
 ('Guarinos', 9),
 ('Iaciara', 9),
 ('Inaciolândia', 9),
 ('Ipiranga de Goiás', 9),
 ('Iporá', 9),
 ('Israelândia', 9),
 ('Itaguari', 9),
 ('Itaguaru', 9),
 ('Ivolândia', 9),
 ('Jaupaci', 9),
 ('Jussara', 9),
 ('Lagoa Santa', 9),
 ('Mambaí', 9),
 ('Mara Rosa', 9),
 ('Marzagão', 9),
 ('Maurilândia', 9),
 ('Minaçu', 9),
 ('Moiporá', 9),
 ('Monte Alegre de Goiás', 9),
 ('Montividiu do Norte', 9),
 ('Morro Agudo de Goiás', 9),
 ('Mundo Novo', 9),
 ('Mutunópolis', 9),
 ('Nazário', 9),
 ('Nova América', 9),
 ('Nova Glória', 9),
 ('Nova Iguaçu de Goiás', 9),
 ('Nova Roma', 9),
 ('Nova Veneza', 9),
 ('Novo Brasil', 9),
 ('Novo Planalto', 9),
 ('Palestina de Goiás', 9),
 ('Panamá', 9),
 ('Pilar de Goiás', 9),
 ('Piranhas', 9),
 ('Porangatu', 9),
 ('Porteirão', 9),
 ('Professor Jamil', 9),
 ('Rialma', 9),
 ('Rianápolis', 9),
 ('Rubiataba', 9),
 ('Santa Bárbara de Goiás', 9),
 ('Santa Fé de Goiás', 9),
 ('Santa Isabel', 9),
 ('Santa Tereza de Goiás', 9),
 ('São Domingos', 9),
 ('São Luis de Montes Belos', 9),
 ('São Luiz do Norte', 9),
 ('São Miguel do Araguaia', 9),
 ('São Patrício', 9),
 ('Simolândia', 9),
 ("Sítio d'Abadia", 9),
 ('Taquaral de Goiás', 9),
 ('Trombas', 9),
 ('Turvânia', 9),
 ('Turvelândia', 9),
 ('Uirapuru', 9),
 ('Uruana', 9),
 ('Vila Boa', 9),
 ('Águas Lindas de Goiás', 7),
 ('Novo Gama', 7)]

In [100]:
#exporta para csv
db.to_csv('Z:/GEDE/BDE - Banco de Dados/2025/PAM_PPM_PEVS/PVES.csv', encoding='utf-8-sig', index=False)